#!/bin/bash
# ---------------------------
# Paths
CONFIG_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
PROJECT_ROOT="$(dirname "$CONFIG_DIR")"

RAW_DATA="$PROJECT_ROOT/data"
DERIVATIVES="$PROJECT_ROOT/derivatives"
LOG_DIR="$PROJECT_ROOT/logs"
TEMPLATE="$DERIVATIVES/templates"
LESION_TRACK_DIR="$DERIVATIVES/lesion_tracts"   

# ---------------------------
# General Settings
NTHREADS=8    # Default number of threads
CPUS=10       # CPUs for docker / parallel tools
idu=$(id -u)  # User ID for docker
idg=$(id -g)  # User and group ID for docker

# ---------------------------
# Diffusion Pipeline Parameters
DENOISE_METHOD="dwidenoise"         # options: dwidenoise, mpdenoise
DEGIBBS="true"                      # options: true, false
BIAS_CORR_METHOD="ants"             # options: ants, dwibiascorrect
USE_EDDY="true"                     # options: true, false
EDDY_OPTIONS="--repol --slm=linear" # options for eddy
RESPONSE_METHOD="dhollander"        # options: dhollander, tournier, tax, msmt_5tt
FOD_METHOD="msmt_csd"               # options: msmt_csd, csd, ss3t_csd_beta1

TRACT_NSTREAMS=500000               # number of streamlines
TRACT_STEP=0.75                     # step size in mm
TRACT_MINLEN=10                     # min length of streamlines in mm
TRACT_MAXLEN=250                    # max length of streamlines in mm
TRACT_ANGLE=45                      # max angle between steps

# ---------------------------
# Structural Pipeline Parameters
BIAS_CORR_STRUCT="N4BiasFieldCorrection" # options: N4BiasFieldCorrection, fast
BRAIN_EXTRACTION_TOOL="bet"              # options: bet, ants
BET_OPTIONS="-f 0.5 -g 0"                # options for FSL BET
REGISTRATION_TOOL="flirt"                # options: flirt, ants
REGISTRATION_DOF=6                       # degrees of freedom for registration
REGISTRATION_COST="corratio"             # cost function for registration
MRGRID_ISO=1.0                           # isotropic resampling resolution

# ---------------------------
# Meningioma Masking Parameters
TUMOR_MASK="tumor_mask.nii.gz"        # default tumor mask
SEED_MASK="seed_mask.nii.gz"          # default seed mask
TRACT_OUTPUT="meningioma_tracts.tck"  # default tract output

# ---------------------------
# Lesion Tractography Parameters
TEMPLATE_BET_AVG="$TEMPLATE/bet-avg.nii.gz"  # template brain average
TEMPLATE_WMFOD="$TEMPLATE/wmfod.mif"         # template white matter FOD
TEMPLATE_MASK="$TEMPLATE/template_mask.mif"  # template brain mask
TEMPLATE_FIXEL_MASK="$TEMPLATE/fixel_mask"   # template fixel mask directory


TRACT_SEED_MASK="*_mask.nii.gz" # lesion seed mask pattern

TRACT_POWER=1.0             # tracking power
TRACT_CUTOFF=0.06           # tracking cutoff

