# Paths

CONFIG_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
PROJECT_ROOT="$(dirname "$CONFIG_DIR")"

RAW_DATA="$PROJECT_ROOT/data"
DERIVATIVES="$PROJECT_ROOT/derivatives"
LOG_DIR="$DERIVATIVES/logs"


# General Settings
NTHREADS=8   # Default number of threads


# Diffusion Pipeline Parameters
DENOISE_METHOD="dwidenoise"
DEGIBBS="true"
BIAS_CORR_METHOD="ants"
USE_EDDY="true"
EDDY_OPTIONS="--repol --slm=linear"
RESPONSE_METHOD="dhollander"
FOD_METHOD="msmt_csd"

TRACT_NSTREAMS=500000
TRACT_STEP=0.75
TRACT_MINLEN=10
TRACT_MAXLEN=250
TRACT_ANGLE=45

# Structural Pipeline Parameters
BIAS_CORR_STRUCT="N4BiasFieldCorrection"
BRAIN_EXTRACTION_TOOL="bet"
BET_OPTIONS="-f 0.5 -g 0"
REGISTRATION_TOOL="flirt"
REGISTRATION_DOF=6
REGISTRATION_COST="corratio"

# Meningioma Tractography Parameters
TUMOR_MASK="tumor_mask.nii.gz"
SEED_MASK="seed_mask.nii.gz"
TRACT_OUTPUT="meningioma_tracts.tck"
